<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journals</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1>Here are your journal entries:</h1>
    <ul>
      <% journals.forEach(function(journal) { %>
        <li>
          <%= journal.text %>
            - 
          <%= journal.date %>
        </li>
      <% }); %>
    </ul>
    <a href="/journals/new">Add Journal Entry</a>
</body>
</html>