<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>My Planner</title>
</head>
<body class="home">
    <h1>Welcome to your Planner, <%= myName %></h1>
    <a href="/todos">To-do List</a>
    <a href="/goals">Goals</a>
    <a href="/journals">Journal Entries</a>
    <a href="/reflections">Self Reflection</a>
</body>
</html>