body {
    font-family: 'Courier New', Courier, monospace;
  }
  
  .delete-form {
    display: inline-block;
    margin-right: 10px;
  }
  
  .delete-form button {
    color: red;
  }
  
  li {
    list-style: none;
    margin-bottom: 10px;
  }
  