<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1>Here Are Your self-reflections:</h1>
    <ul>
      <% reflections.forEach(function(reflection) { %>
        <li>
          <%= reflection.text %>
            
        </li>
      <% }); %>
    </ul>
    <a href="/reflections/new">Add reflection</a>
</body>
</html>