<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Express To-Do</title>
</head>

<body>
    <h1>New Todo</h1>
    <form action="/todos" method="POST" autocomplete="off">
       <label>Todo: <input type="text" name="todo"></label>
       <label>Done By:
           <input type="time" name="time">
       </label>
        <button type="submit">Save Todo</button>
    </form>
</body>

</html>